<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.daltdd">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/roung"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/App">
        <activity android:name=".XacNhanTaoTKActivity"/>
        <activity android:name=".step5_DN"></activity>
        <activity android:name=".step4_DN" />
        <activity android:name=".VerifyPhoneActivity"></activity>
        <activity android:name=".step3_DN" >

        </activity>
        <activity android:name=".sep2_dn" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ngon_ngu" />
        <activity android:name=".DKDN" />
        <activity android:name=".MainActivity">

        </activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>


</manifest>